<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Prices</title>
</head>
<body>
<a href="{% url 'search_prices:register_client' %}">Sign up</a>
<h1>Search Prices</h1>
<div id="divBusca">
    <form action="{% url 'search_prices:search' %}" method="post">
    {% csrf_token %}
    {{ form_search }}<br>
    <input value="Enviar" type="submit">
    </form>
    {% for search in searches %}
    {{ search.search }}
    <a href="{% url 'search_prices:delete_search' search.id %}">Delete</a>
     <br>
    {% endfor %}
</div>
<div>
    <h2>Clients</h2>
    {% for client in clients %}
    <ul>
        <li>
            {{ client.name }}
            <a href="{% url 'search_prices:client_profile' client.id %}">Profile</a>
        </li>
    </ul>
    {% endfor %}
</div>
</body>
</html>